############################################
# XERAVEND GIT INGNORE FILE
############################################

#Exclude Stuff Used In Your Build Enviroment
/_BUILDENV/

#Exclude Stuff Used To Compile The OS
/_OUTPUT/
